@import 'colors';

button {
    width: 155px;
    font-size: 20px;
    background-color: $accent-color;
    padding: 0.25em;
    border: none;
    margin-top: 2em;
    border-radius: 3px;
    font-family: 'Saira';

    &:hover {
        cursor: pointer;
        filter: brightness(80%);
    }

    a {
        text-decoration: none;
        color: black;
    }
}
